.w3-click {
    cursor: pointer;
}

.w3-text-gray-2 {
    color: #444;
}

.pager-item {
    cursor: pointer;
    border: 1px solid black;

    color: black;
    background: white;
    padding: 8px 16px;
    margin: 5px;
}

.pager-item:hover {
    background: #00C095;
    color: #fff;
    border: 1px solid black;
}

.pager-selected {
    background: #1c6ca1;
    color: white;
    border: 1px solid #999;
}

.pager-limit {
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: white;
    padding: 8px 16px;
    margin: 5px;
}

.pager-limit:hover {
    background: #00C095;
    color: #fff;
    border: 1px solid black;
}

.pager-limit-selected {
    background: #1c6ca1;
    color: white;
    border: 1px solid #999;
}



.rbm-gray {
    background: #6f7788 !important;
    color: white !important;
}

.rbm-text-gray {
    color: #6f7788 !important;
}

.rbm-blue {
    background: #1c4774 !important;
    color: white !important;
}

.rbm-text-blue {
    color: #1c4774 !important;
}

.rbm-hover-blue:hover {
    background: #1c4774 !important;
    color: white !important;
}


.rbm-dark-blue {
    background: #000b33 !important;
    color: white !important;
}

.rbm-text-dark-blue {
    color: #000b33 !important;
}