{% extends "layout/site.twig" %}

{% block title %}
	Care4Sure Employee
{% endblock %}

{% block additional_head %}
	<script src="/resource/js/app.js"></script>
{% endblock %}

{% block content %}
<h2>Welcome to your Car4Sure Dashboard</h2>
	<div class='app-view' id="homeView">
		<div>

			<div>
				<button class="btn btn-primary viewCustomersButton">Customers</button>
				<button class="btn btn-primary viewCoveragesButton">Coverage</button>
				<button class="btn btn-primary viewPoliciesButton">Policy</button>

			</div>

		</div>
	</div>

	<div class='app-view' style="display:none" id="customerView">

		<h2>Customers</h2>

		<div>
			<button class="btn btn-primary addCustomerButton">Add Customer</button>
		</div>
		<div>
		<button onclick="printPage()">Save Page as PDF</button>
        </div>
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Date of Birth</th>
						<th>Gender</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody id="customerList"></tbody>
			</table>

		</div>
	</div>

	<div class='app-view' style="display:none" id="customerAddEditView">

		<h2 id="customerViewTitle">Add/Edit Customer</h2>

		<div id="customerForm">
			<input type="hidden" id="customerId" name="customerId" value="">

			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" id="firstName" name="firstName" required>
			</div>

			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" id="lastName" name="lastName" required>
			</div>

			<div class="form-group">
				<label for="gender">Gender</label>
				<select class="form-control" id="gender" name="gender" required>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select>
			</div>

			<div class="form-group">
				<label for="dateOfBirth">Date of Birth</label>
				<input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" required>
			</div>

			<div class="form-group">
				<label for="maritalStatus">Marital Status</label>
				<select class="form-control" id="maritalStatus" name="maritalStatus" required>
					<option value="Single">Single</option>
					<option value="Married">Married</option>
					<option value="Divorced">Divorced</option>
					<option value="Widowed">Widowed</option>
				</select>
			</div>

			<div class="form-group">
				<label for="contactNo">Contact No</label>
				<input type="text" class="form-control" id="contactNo" name="contactNo">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email">
			</div>

			<div class="form-group">
				<label for="street">Street</label>
				<input type="text" class="form-control" id="street" name="street" required>
			</div>

			<div class="form-group">
				<label for="city">City</label>
				<input type="text" class="form-control" id="city" name="city" required>
			</div>

			<div class="form-group">
				<label for="state">State</label>
				<input type="text" class="form-control" id="state" name="state" required>
			</div>

			<div class="form-group">
				<label for="zipCode">Zip Code</label>
				<input type="text" class="form-control" id="zipCode" name="zipCode" required>
			</div>

			<div class="form-group">
				<label for="licenseNumber">License Number</label>
				<input type="text" class="form-control" id="licenseNumber" name="licenseNumber" required>
			</div>

			<div class="form-group">
				<label for="licenseState">License State</label>
				<input type="text" class="form-control" id="licenseState" name="licenseState" required>
			</div>

			<div class="form-group">
				<label for="licenseStatus">License Status</label>
				<select class="form-control" id="licenseStatus" name="licenseStatus" required>
					<option value="Valid">Valid</option>
					<option value="Expired">Expired</option>
					<option value="Suspended">Suspended</option>
				</select>
			</div>

			<div class="form-group">
				<label for="licenseEffectiveDate">License Effective Date</label>
				<input type="date" class="form-control" id="licenseEffectiveDate" name="licenseEffectiveDate" required>
			</div>

			<div class="form-group">
				<label for="licenseExpirationDate">License Expiration Date</label>
				<input type="date" class="form-control" id="licenseExpirationDate" name="licenseExpirationDate" required>
			</div>

			<div class="form-group">
				<label for="licenseClass">License Class</label>
				<input type="text" class="form-control" id="licenseClass" name="licenseClass" required>
			</div>
            <button onclick="printPage()">Save Page as PDF</button>
			<button type="button" class="btn btn-primary saveCustomerButton">Save</button>
			<button type="button" class="btn btn-secondary customerCancelButton">Cancel</button>
		</div>


	</div>

	<div class='app-view' style="display:none" id="coverageView">

		<h2>Coverage</h2>

		<div>
			<button class="btn btn-primary addCoverageButton">Add Coverage</button>
		</div>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Coverage Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody id="coverageList"></tbody>
			</table>

		</div>
	</div>
	<div class='app-view' style="display:none" id="coverageAddEditView">

		<h2 id="coverageViewTitle">Add/Edit Customer</h2>

		<div id="coverageForm">
			<input type="hidden" id="coverageId" name="coverageId" value="">

			<div class="form-group">
				<label for="maritalStatus">Coverage Name</label>
				<select class="form-control" id="coverageName" name="coverageName" required>
					<option value="Liability">Liability</option>
					<option value="Collision">Collision</option>
					<option value="Comprehensive">Comprehensive</option>
					<option value="Medical">Medical</option>
				</select>
			</div>
			<div class="form-group">
				<label for="street">Description</label>
				<input type="text" class="form-control" id="description" name="description" required>
			</div>

			<button type="button" class="btn btn-primary saveCoverageButton">Save</button>
			<button type="button" class="btn btn-secondary coverageCancelButton">Cancel</button>
		</div>


	</div>

	<div class='app-view' style="display:none" id="policyView">

		<h2>Policy</h2>

		<div>
			<button class="btn btn-primary addPolicyButton">Add Policy</button>
		</div>

		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Policy Name</th>
						<th>Policy Description</th>
						<th>Policy Type</th>
						<th>Policy Cost</th>
					</tr>
				</thead>
				<tbody id="policyList"></tbody>
			</table>

		</div>
	</div>
	<div class='app-view' style="display:none" id="policyAddEditView">

		<h2 id="policyViewTitle">Add/Edit Customer</h2>

		<div id="policyForm">
			<input type="hidden" id="policyId" name="policyId" value="">

			<div class="form-group">
				<label for="policyName">Policy Name</label>
				<select class="form-control" id="policyName" name="policyName" required>
					<option value="Liability">Auto Insurance</option>
					<option value="Collision">Motorcycle </option>
					<option value="Comprehensive">Boat Insurance</option>
				</select>
			</div>
			<div class="form-group">
				<label for="description">Policy Description</label>
				<input type="text" class="form-control" id="description" name="description" required>
			</div>
		    <div class="form-group">
				<label for="policyType">Policy Type</label>
				<select class="form-control" id="policyType" name="policyType" required>
							<option value="Liability">Auto Insurance</option>
							<option value="Collision">Motorcycle </option>
							<option value="Comprehensive">Boat Insurance</option>
				</select>
			</div>

			<div class="form-group">
				<label for="policyCost">Policy Cost</label>
				<input type="text" class="form-control" id="policyCost" name="policyCost" required>
			</div>
			<button type="button" class="btn btn-primary savePolicyButton">Save</button>
			<button type="button" class="btn btn-secondary policyCancelButton">Cancel</button>
		</div>


	</div>


<script>
        function printPage() {
            window.print(); // Opens the browser's print dialog
        }
    </script>
	<script src="/resource/js/admin/customer.js"></script>
	<script src="/resource/js/admin/coverage.js"></script>
	<script src="/resource/js/admin/policy.js"></script>


	<script>
		customerView.init();
	</script>
	<script>	
	    coverageView.init();
	</script>
	<script>	
		policyView.init();
	</script>
{% endblock %}
